<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatYouKnowAboutToday</title>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
  <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          views: {
            dayGridMonth:{
              titleFormat: {year: 'numeric', month: '2-digit'}
            },
            dayGridDay:{
              titleFormat: {year: 'numeric', month: '2-digit', day: '2-digit'}
            },
            listMonth:{
              titleFormat: {year: 'numeric', month: '2-digit'}
            }
          },
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,listMonth'
          },
          buttonText: {
            today: '今日',
            month: '月表示',
            list: '月一覧'
          },
          initialView: 'dayGridMonth',
          navLinks: true,
          businessHours: true,
          editable: true,
          dayMaxEvents: true,
          events: '/events'
        });
        calendar.render();
      });

    </script>
</head>
<body>
  <% if !current_user.nil? %>
    <div>
    こんにちは、<%= current_user.name %>さん
    <a href="/signout">ログアウト</a>
    </div>
    <div>
    <!--<% @tasks.each do |task| %>-->
    <!--  <tr>-->
    <!--    <td><%= task.event %></td>-->
    <!--    <td><%= task.ymd %></td>-->
    <!--    <td><%= task.category %></td>-->
    <!--  </tr><br>-->
    <!--<% end %>-->
    <tr>
      <td colspan="7"><a href="/tasks/new">出来事登録</a></td>
    </tr>
    </div>
    <div id='calendar'></div>
  <% else %>
    <a href="/signin">ログイン</a><br>
    <a href="/signup">新規登録</a>
  <% end %>
</body>
</html>
